ul {

    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    width: 70%;
    margin: 1rem auto 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}